#buttons {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 325px;
    height: 400px;
    background-color: rgba(211, 211, 211, 0.7);
    color: black;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;   
    border-radius: 5px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    background-color: aliceblue;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 10px;
    margin: 30px;
    margin: 20px;
}

#calculator {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    padding: 20px;
}
